/* Comment Form JS File */
.thoughtText {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
    text-align: center;
}

#thoughtText {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
    text-align: center;
}

.addCommentBtn {
    background-color:#880f00 !important;
    border-color:#880f00 !important;
    color: #f8f9fa !important;
    width: -webkit-fill-available;
}

.commentBtn {
    max-width:none !important;
}

.textArea {
    max-width: none !important;
}

.adventureBody {
    color: #880f00;
    font-weight: bolder;
    font-size: revert;
    text-align: center;
    margin-bottom: revert;
}

/* Comment List JS File */
.commentText {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
    text-align: center;
}
.thoughtHeader {
    background-color: #880f00 !important;

}

.commentCard{
    background-color: #880f00 !important;

}

.commentBody {
    color: #880f00;
    font-weight: bolder;
    font-size: revert;
    text-align: center;
}

#commentHeader {
    color: #880f00;
    font-weight: bolder;
    font-size: revert;
    text-align: center;
}

.commentForm {
    max-width: inherit !important; 
}