/* Comment Form JS File */
.thoughtText {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
    text-align: center;
}

#thoughtText {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
    text-align: center;
}

.addCommentBtn {
    background-color:#880f00 !important;
    border-color:#880f00 !important;
    color: #f8f9fa !important;
}



/* Comment List JS File */
.commentText {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
    text-align: center;
}
.thoughtHeader {
    background-color: #880f00 !important;

}

