.submitBtn {
    background-color:#880f00 !important;
    border-color:#880f00 !important;
    color: #f8f9fa !important;
}

.modalBodyText {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
}

