nav {
    position: absolute;
    background-color: rgb(137, 15, 0);
    margin-left: inherit;
    overflow: sticky;
  }
  
  
  #navText {
    color: #c8d3c6;
  }
  

  .navbar {
    background-color: rgb(137, 15, 0);
    color: #c8c8bf;
  }
  
  /* toggle is an image so this will not work */
 .toggleIcon {
    color: #c8d3c6 !important;
 }
  
 .nav-link {
    color: #c8d3c6 !important;
 }