.profilePage {
    background-color:#e9ecef !important;
    max-width: fit-content !important;
    margin-top: 5rem;

}

/* Side Nav */
.profileAside {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.adventureAwaits {
    color: #880f00;
    font-weight: bolder;
    font-size: revert;
    text-align: center;
}

.searchBy {
    color: #880f00;
}

#addAdventureNav {
    /* color: #880f00 !important; */
    /* background-color: #880f00 !important; */
    border-color: #880f00 !important;
}

#viewAdventuresNav {
    /* color: #880f00 !important; */
    /* background-color: #e9ecef !important; */
    border-color: #880f00 !important;

}

/* View Your Profile Center */
.profileCard {
    display: contents !important;
    text-align: center;
    border-color: #880f00 !important;

}

.profileHead {
    background-color: #880f00 !important;
}

.submitAdventure{
    color: #e9ecef !important;
    background-color: #880f00 !important;
    border-color: #880f00 !important;
}

.adventureBtn {
    display:block !important;
    max-width: inherit !important;
}

.profileContent {
    border: 3px dotted rgb(136 15 0) !important;
    margin-top:5rem;
}

.startAdventure {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
    text-align: center;
}

#characterCount {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
    text-align: center;
}

.adventureForm {
    margin:5px !important;
}

.adventureTitle {
    max-width:max-content !important;
    display:inline-block !important;
}

/* Random Character */
.characterTitle {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
}

.characterCard {
    display:grid;
}

.characterCol {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: 5rem;
}
