.cardTitle {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
}

.continueAdventureBtn {
    background-color: #880f00 !important;
    border-color: #880f00 !important;
    color: #f8f9fa !important;
}

.adventureText {
    color: #880f00;
}

.communityCard {
    background: #e9ecef !important;
    margin: 5rem;
}

.communityTitle {
    color: #880f00;
    font-weight: bold;
    font-size: revert;
    margin-bottom: revert;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #e9ecef !important;
    background-clip: border-box;
    border: 3px dotted rgb(136 15 0) !important;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}